body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202020;
    top: 0;
    width: 100%;
    font-size: 25px;
    height: 60px;
    text-align:center;
}
  
li {
    float: left;
    padding: 15px 30px;
}
  
li a {
    display: block;
    color: #FFD100;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #202020;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333533;
    color: #FFD100;
    text-align: center;
}

.footer div img {
    padding: 10px;
}

.content {
    margin: 0;
    padding: 30px 200px;
    background-color: #202020;
    color: #FFD100;
}

.project {
    display: grid;
    grid-template-columns: auto auto;
}

.project-card {
    width: 450px;
    margin: auto;
}

.project-card>p {
    color: #F7F7F7;
}

.contributors {
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.contributors-card {
    margin: 30px auto;
    padding: auto;
}

.contributors-card a{
    font-size: 25px;
    padding: auto;
    color: #FFD100;
    display: flex;
}

.contributors-card p{
    padding-left: 20px;
    padding-top: 5px;
    text-align:center;
}